<h1 class="page-header">Dashboard</h1>

<div class="row">
    <div class="col-md-4">
		<div class="panel panel-primary" style="">
			<div class="panel-heading"> 
				<h3 class="panel-title">Current Staff Positions : {{ dashData.staffTotal }}</h3> 
			</div> 
			<div class="panel-body">
				<canvas id="pie" class="chart chart-pie" chart-data="charts.positions.data" chart-labels="charts.positions.labels" chart-options="charts.positions.options"></canvas>
			</div> 
		</div>
	</div> 
    <div class="col-md-4">
		<div class="panel panel-primary" style="">
			<div class="panel-heading"> 
				<h3 class="panel-title">Gender Ratio</h3> 
			</div> 
			<div class="panel-body">
				<canvas id="pie" class="chart chart-pie" chart-data="charts.gender.data" chart-labels="charts.gender.labels" chart-options="charts.gender.options"></canvas>
			</div> 
		</div>
	</div> 
	<div class="col-md-4">
		<div class="panel panel-primary" style="">
			<div class="panel-heading"> 
				<h3 class="panel-title">Race Ratio</h3> 
			</div> 
			<div class="panel-body">
				<canvas id="pie" class="chart chart-pie" chart-data="charts.race.data" chart-labels="charts.race.labels" chart-options="charts.race.options"></canvas>
			</div> 
		</div>
	</div> 
</div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Position ratios</th>
                  <th>Gender ratios</th>
                  <th>birthdays this month</th>
                  <th>Days to review</th>
                  <th>days to your birthday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Front-end Developer: {{ dashData.positions['Front-end Developer'] }}<br>
                  Back-end Developer: {{ dashData.positions['Back-end Developer'] }}<br>
                  Project Manager: {{ dashData.positions['Project Manager'] }}</td>
                  <td>Male: {{ dashData.maleTotals }} <br> Female: {{ dashData.femaleTotals }}</td>
                  <td>{{ dashData.birthdaysTotals }}</td>
                  <td>{{ daysToReview }}</td>
                  <td>{{ daysToBirthDay }}</td>
                </tr>
               
              </tbody>
            </table>
          </div>
            <script>

  </script>
       