
          
          <h1 class="page-header">Dashboard</h1>


<div id="canvas-holder" class="col-sm-4">
          <canvas id="chart-area" width="250" height="250" ></canvas>
        </div>



          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Position ratios</th>
                  <th>Gender ratios</th>
                  <th>birthdays this month</th>
                  <th>Up for review</th>
                  <th>days to your birthday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
               
              </tbody>
            </table>
          </div>
            <script>

  </script>
       