
          
          <h1 class="page-header">Dashboard</h1>


<div id="canvas-holder" class="col-sm-4">
          <canvas id="chart-area" width="250" height="250" ></canvas>
        </div>


Staff Total: {{ dashData.staffTotal }}
<ul ng-repeat="key in dashData.positions">
	<li>h {{ key.name }}</li>
	
</ul>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Position ratios</th>
                  <th>Gender ratios</th>
                  <th>birthdays this month</th>
                  <th>Days to review</th>
                  <th>days to your birthday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Front-end Developer: {{ dashData.positions['Front-end Developer'] }}<br>
                  Back-end Developer: {{ dashData.positions['Back-end Developer'] }}<br>
                  Project Manager: {{ dashData.positions['Project Manager'] }}</td>
                  <td>Male: {{ dashData.maleTotals }} <br> Female: {{ dashData.femaleTotals }}</td>
                  <td>{{ dashData.birthdaysTotals }}</td>
                  <td>{{ daysToReview }}</td>
                  <td>{{ daysToBirthDay }}</td>
                </tr>
               
              </tbody>
            </table>
          </div>
            <script>

  </script>
       