
          <h1 class="page-header">Employees</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Phone Number</th>
                  <th>Email</th>
                  <th>Position</th>
                  <th>Level</th>
                </tr>
              </thead>
              <tbody id="employeeList">
                <tr ng-repeat="emp in employee">
                  <td id="empId_{{ emp.user.id }}">{{ emp.user.first_name }} {{ emp.user.last_name }}</td>
                  <td>{{ emp.phone_number }}</td>
                  <td>{{ emp.email }}</td>
                  
                  <td>{{ emp.position.name }}</td>
                  <td>{{ emp.position.level }}</td>
                </tr>
               
              </tbody>
            </table>
          </div>
       