<div class="loginConsole" >>
	<centre>Please Log in</centre><br>
	<form ng-controller="loginController" ng-submit="getToken()">
	<input type="text" id="userName" placeholder="Username" value="" ng-model="form.username" style="width:90%;margin:auto"><br>
	<input type="password" id="userPass" placeholder="Password" value="" ng-model="form.password" style="width:90%;margin:auto"><br>
	<input type="submit" ngClick="Submit">
	<button type="button" onclick="loginButton()">test</button>
	</form>
	
</div>
